.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 24px;
}

.navlinks {
  display: none;
}

.nav-buttons {
  display: none;
}

.header-logo-ship {
  color: var(--cr-sim-blue);
  font-weight: 300;
}

.header-logo-up {
  color: var(--cr-sim-orange);
  font-weight: 700;
}

.hamburger {
  margin-right: 4.02px;
}

@media (width >= 50.625em) {
  .navbar {
    padding-block: 50px 0px;
  }

  .navlinks {
    display: flex;
    gap: 30px;
  }

  .navlink {
    list-style-type: none;
  }

  .navlink a {
    color: var(--cr-black);
    font-size: 14px;
  }

  .navlink a span {
    margin-right: 5px;
  }

  .dropdown {
    display: inline;
    padding-inline: 6px;
    padding-top: 8.58px;
    padding-bottom: 8px;
  }

  .nav-buttons {
    display: flex;
    gap: 30px;
  }

  .hamburger {
    display: none;
  }
}
